//======================================================================
// VARIABLES
//======================================================================

// Selector's "pseudo namespace" prefix:
$NS: 'rex_' !default;

// Browser default `font-size`:
$browser_font-size: 16px !default;

// Base `font-size`:
$base_font-size: 16px !default;

// Base `line-height`:
$base_line-height: 24px !default;

// Natural box layout?
$flag_natural-box-model: true !default;

// Heading classes?
$flag_heading-classes: true !default;

// Subheading classes?
$flag_subheading-classes: true !default;

// Table styles?
$flag_tables: true !default;

// Form styles?
$flag_forms: true !default;

// Include the baseline class?
$flag_baseline: true !default;

// Baseline "major" grid color:
$baseline_major-grid-color: #f00 !default;

// Baseline "minor" grid color:
$baseline_minor-grid-color: #0ff !default;

// Baseline "outline" grid color:
$baseline_outline-color: #f00 !default;
