<!doctype html>
<html>

<head>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><!--@echo title--> | v<!--@echo version--> | <!--@echo NODE_ENV--></title>
	<meta name="description" content="<!--@echo description-->">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="<!--@echo name-->.css">
	<link rel="stylesheet" href="<!--@echo name-->.dev.css">
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<link rel="stylesheet" href="<!--@echo name-->.min.css">
	
	<!-- @endif -->
	
</head>
<body ontouchstart>
	
	<header>
		
		<h1><a href="<!--@echo homepage-->"><!--@echo title--></a></h1>
		<h2 class="<!--@echo ns-->sh5">v<!--@echo version--> &bull;&nbsp;<!--@echo NODE_ENV--></h2>
		
	</header>
	
	<hr>
	
	<!-- @include tests.html -->
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>address</code></h1>
		
		<div class="<!--@echo ns-->baseline">
		<address>
			<a href="#">Rex O'Herlihan</a>, 
			<a href="#">Peter</a>, 
			<a href="#">Miss Tracy</a>, 
			<a href="#">Colonel Ticonderoga</a>, 
			<a href="#">Railroad Colonel</a>, 
			<a href="#">Colonel's Daughter</a>, 
			<a href="#">Jim</a>, 
			<a href="#">Jud</a>, 
			<a href="#">Blackie</a>, 
			<a href="#">Sheepherder No.1</a>, 
			<a href="#">Sheepherder No.2</a>, 
			<a href="#">Sheepherder's Wife</a>, 
			<a href="#">Town Doctor</a>, 
			<a href="#">Town Sheriff</a>, 
			<a href="#">Sheepherder in Saloon</a>, 
			<a href="#">Bartender</a>, 
			<a href="#">Saloon Owner</a>, 
			<a href="#">Real Estate Broker</a>, 
			<a href="#">Town Boy</a>, 
			<a href="#">Minister</a>, 
			<a href="#">Wrangler Bob Barber</a> and 
			<a href="#">Complaining John</a>.
		</address>
		</div>
		
		<address><a href="mailto:#">Peter</a>, the town root junkie.</address>
		
		<address class="vcard">
			<div class="fn org">Rancho Ticonderoga</div>
			<div class="adr">
				<div class="street-address">1, Ticonderoga Road</div>
				<span class="locality">Oakwood Estates</span>, <span class="region">TX</span>&nbsp;&nbsp;<span class="postal-code">75855</span>
			</div>
		</address>
		
		<address itemscope itemtype="http://data-vocabulary.org/Organization">
			<span itemprop="name">Rancho Ticonderoga</span>
			Postal Address:
			<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
				<span itemprop="street-address">1, Ticonderoga Road</span>,
				<span itemprop="locality">Texas</span>,
				<span itemprop="country-name">United States</span>.
			</span>
			<span itemprop="geo" itemscope itemtype="http://www.data-vocabulary.org/Geo/">
				Latitude: <span itemprop="latitude">31&deg;35'5"N</span> 
				Longitude: <span itemprop="longitude">95&deg;51'2"W</span>
			</span>
			Phone: <span itemprop="tel">(555) 555-5555</span>
			<a href="#" itemprop="url">Rancho Ticonderoga dude ranch home page.</a>.
		</address>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>h1</code> - <code>h6</code></h1>
		
		<h1></h1> <!-- Testing `:empty` pseudo-class. -->
		
		<h1>Holy cow! All Western towns have the railroad coming through?</h1>
		
		<h1><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></a></h1>
		
		<hr>
		
		<h2>Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h3>Holy cow! All Western towns have the railroad coming through?</h3>
		
		<h3><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h3>
		
		<hr>
		
		<h4>Holy cow! All Western towns have the railroad coming through?</h4>
		
		<h4><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h4>
		
		<hr>
		
		<h5>Holy cow! All Western towns have the railroad coming through?</h5>
		
		<h5><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h5>
		
		<hr>
		
		<h6>Holy cow! All Western towns have the railroad coming through?</h6>
		
		<h6><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h6>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>.sh1</code> - <code>.sh6</code></h1>
		
		<h2 class="<!--@echo ns-->sh1">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh1"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h2 class="<!--@echo ns-->sh2">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh2"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h2 class="<!--@echo ns-->sh3">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh3"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h2 class="<!--@echo ns-->sh4">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh4"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h2 class="<!--@echo ns-->sh5">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh5"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
		<hr>
		
		<h2 class="<!--@echo ns-->sh6">Holy cow! All Western towns have the railroad coming through?</h2>
		
		<h2 class="<!--@echo ns-->sh6"><a href="#">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</a></h2>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>h1</code> - <code>h6</code> + <code>.sh1</code> - <code>.sh6</code> + <code>p</code></h1>
		
		<h1><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh1">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
		<hr>
		
		<h1 class="<!--@echo ns-->h2"><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh2">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
		<hr>
		
		<h1 class="<!--@echo ns-->h3"><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh3">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
		<hr>
		
		<h1 class="<!--@echo ns-->h4"><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh4">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
		<hr>
		
		<h1 class="<!--@echo ns-->h5"><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh5">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
		<hr>
		
		<h1 class="<!--@echo ns-->h6"><a href="#">Holy cow! All Western towns have the railroad coming through?</a></h1>
		<h2 class="<!--@echo ns-->sh6">Sheriff's stereotypical, <span class="<!--@echo ns-->amp">&amp;</span> so is the saloon owner with that mustache.</h2>
		<p>Glass of warm milk, please. Make it a sarsaparilla. Is this one of those really tough bars? Well, let me have a large glass of warm gin served with a human hair in it.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>blockquote</code></h1>
		
		<blockquote>
			
			For some reason, the bad guy was always a Colonel who had a beautiful daughter and about a thousand head of cattle which you would hear but never see.
			
		</blockquote>
		
		<blockquote>
			
			<p>Every time Rex got close to having some sort of relationship with a girl, you could bet something else would happen.</p>
			
		</blockquote>
		
		<div class="<!--@echo ns-->baseline">
		<blockquote>
			
			<p>1947 was the year the lights sort of went out for Rex.</p>
			
			<p>Yeah, he never did much after that. Always made me wonder what one of these B Westerns would look like.</p>
			
			<p>You know, <q>if they still made them today.</q></p>
			
			<footer>&mdash; Peter, town drunk.</footer>
			
		</blockquote>
		</div>
		
		<blockquote>
			
			<p>Go hide in the trees. I'll call you when it's safe.</p>
			
			<footer>&mdash; <cite><a href="#">Rex O'Herlihan</a></cite>, the "singing cowboy".</footer>
			
		</blockquote>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>dl</code> + <code>dt</code> + <code>dd</code></h1>
		
		<dl>
			<dt><a href="#">Holy cow! All Western towns have the railroad coming through?</a></dt>
				<dd>No, sorry, but even my theme song says I ride alone.</dd>
				<dd>I ride alone.</dd>
				<dd>
					Change it.
					<ul>
						<li>It took me four years to get that right.</li>
						<li>It did?</li>
					</ul>
				</dd>
			<dt>There's no sidekick opening. So if you'll excuse me, I have to...</dt>
				<dd>Mr. O'Herlihan, now, look, I could provide comedy relief.</dd>
				<dd>What's gonna happen to me in Oakood Estates?</dd>
				<dd>
					I'm just the town drunk.
					<ol>
						<li>I want more than that. I wanna see the world.</li>
						<li>I wanna see other towns at least.</li>
					</ol>
				</dd>
			<dt>They're all the same.</dt>
				<dd>But you don't know that for sure.</dd>
				<dd>I do, Peter.</dd>
				<dd>I know lots of things. One thing I know for sure is I can't have a sidekick, even if I wanted one. You see, I know what happens. I know the future.</dd>
		</dl>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>figure</code></h1>
		
		<figure>
			
			<img src="rex.jpg" alt="Rex O'Herlihan">
			
			<figcaption>In the first place, the bad guys probably wouldn't all be such cowards. Rex probably wouldn't be so damn perfect all the time.</figcaption>
			
		</figure>
		
		<figure>
			
			<figcaption>
				
				<p>Every time Rex got close to having some sort of relationship with a girl, you could bet something else would happen.</p>
				
				<p>Well, the same thing keeps happening in all these towns. <a href="#">The bad guys</a>, who are usually rich for some reason, are always taking advantage of the good guys, who are usually poor. I ride into town and join forces with the good guys, defeat the bad guys, and then I ride out. Over and over. It's my karma, I guess.</p>
				
			</figcaption>
			
		</figure>
		
		<figure>
			
			<figcaption>You can't beat me, Bob. You work for the <a href="#">colonels</a>. That makes me the most good. I don't see how I can lose.</figcaption>
			
		</figure>
		
		<figure>
			
			<figcaption>Everyone <code>&lt;whose&gt;</code> birthday <code>&lt;occurs&gt;</code> on an <code>&lt;even-numbered&gt;</code> day, aim at Rex. Everyone <code>&lt;with&gt;</code> an odd-numbered birthday, <code>&lt;aim&gt;</code> at the <code>&lt;nerd&gt;</code>.</figcaption>
			
		</figure>
		
		<figure>
			
			<blockquote>
				
				<p>Root's beginning to work. The prairie sun has kissed the day goodbye. Yeah, it's definitely kicking in now. The wind behind me sounds like it may cry. Here we go. Now I hear the lonesome whistle of a quail. As I ride alone, along the tumbleweed trail. The road ahead is as endless as the one I left behind. But there are no ties to hold me down. Because I was born the drinking kind with just a faithful horse for company and a saddle for my home. I ride alone, I ride alone.</p>
				
				<p><code>&lt;small&gt;&lt;a rel="cowboy" href="#"&gt;Rex O'Herlihan&lt;/a&gt;, the "singing cowboy".&lt;/small&gt;</code></p>
				
			</blockquote>
			
			<figcaption>Using <code>&lt;small&gt;</code> around a <a href="#" title="Singing cowboy">singing cowboy</a> link with <code>rel="cowboy"</code>.</figcaption>
			
		</figure>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>hr</code></h1>
		
		<hr>
		
		<div class="<!--@echo ns-->hr"></div>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>p</code></h1>
		
		<p>Well, the same thing keeps happening in all these towns. The bad guys, who are usually rich for some reason, are always taking advantage of the good guys, who are usually poor. I ride into town and join forces with the good guys, defeat the bad guys, and then I ride out. Over and over. It's my karma, I guess. This sort of thing drove the bad guys crazy. And they did everything they could think of to get rid of us. Of course, it never worked. In the first place, Rex always knew what they were gonna do before they did it. And in the second place, they were the bad guys, so they couldn't win.</p>
		
		<p><a href="#">The problem is</a>, we are bad and he's good, so he always beats us.</p>
		
		<p>What the colonel had was a truly great idea. All we knew, at the time, was what usually happened. The bad guys would get a hired gun and a shootout would follow.</p>
		
		<p>But I could tell Rex was getting a little edgy.</p>
		
		<p>It was like he knew something was going to happen that hadn't happened before.</p>
		
		<p>I <code>&lt;need&gt;</code> some <code>&lt;time&gt;</code> alone. <code>&lt;I&gt;</code> need <code>&lt;some&gt;</code> me <code>&lt;time&gt;</code>.</p>
		
		<p>Every time Rex got close to having some sort of relationship with a girl, you could bet something else would happen.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>pre</code></h1>

<pre>
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 
</pre>

<pre>
0.5138707 0.1757256 0.3086337 0.5345317 0.9476302 0.1717277 0.7022309 0.2264168 0.4947661 0.1246986
0.0838954 0.3896298 0.2772301 0.3680532 0.9834590 0.5353862 0.7656789 0.6464736 0.7671438 0.7802362
0.8229621 0.1519211 0.6254769 0.3146764 0.3469039 0.9172033 0.5197607 0.4011658 0.6067690 0.7854244
</pre>

<pre>
<code>var</code> cast = characters.addCharacter({
	rex       : ['cowboy', 'singer'],
	persona   : 'good guy',
	catchline : function() { console.log('I ride alone.'); },
	sidekick  : 'Peter, the town drunk.'
});
</pre>

<pre>
<samp>colonel@rancho:~$ <kbd>ssh rancho.ticonderoga.com</kbd>
Last login: Fri May 10 09:10:17 1985 from rancho.ticonderoga.com on pts/1
Ranch demo 2.6.10-grsec+gg3+e+fhs6b+nfs+gr0501+++p3+c4a+gr2b-reslog-v6.189 #1 SMP Fri May 10 09:10:17 PST 1985 i686 unknown

colonel@rancho:~$ _</samp>
</pre>

	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>ol</code></h1>
		
		<ol>
			<li><a href="#">Holy cow! All Western towns have the railroad coming through?</a></li>
			<li>No, sorry, but even my theme song says I ride alone.</li>
			<li>I ride alone.</li>
			<li>
				Change it.
				<ul>
					<li>It took me four years to get that right.</li>
					<li>
						There's no sidekick opening. So if you'll excuse me, l have to...
						<ol>
							<li>Mr. O'Herlihan, now, look, I could provide comedy relief.</li>
							<li>What's gonna happen to me in Oakood Estates?</li>
						</ol>
					</li>
					<li>I'm just the town drunk.</li>
				</ul>
			</li>
			<li>
				I want more than that. I wanna see the world. I wanna see other towns at least.
				<dl>
					<dt>They're all the same.</dt>
						<dd>But you don't know that for sure.</dd>
						<dd>I do, Peter.</dd>
				</dl>
			</li>
			<li>I know lots of things. One thing I know for sure is I can't have a sidekick, even if I wanted one. You see, I know what happens. I know the future.</li>
		</ol>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>ul</code></h1>
		
		<ul>
			<li><a href="#">Holy cow! All Western towns have the railroad coming through?</a></li>
			<li>No, sorry, but even my theme song says I ride alone.</li>
			<li>I ride alone.</li>
			<li>
				Change it.
				<ol>
					<li>It took me four years to get that right.</li>
					<li>
						There's no sidekick opening. So if you'll excuse me, l have to...
						<ul>
							<li>Mr. O'Herlihan, now, look, I could provide comedy relief.</li>
							<li>What's gonna happen to me in Oakood Estates?</li>
						</ul>
					</li>
					<li>I'm just the town drunk.</li>
				</ol>
			</li>
			<li>
				I want more than that. I wanna see the world. I wanna see other towns at least.
				<dl>
					<dt>They're all the same.</dt>
						<dd>But you don't know that for sure.</dd>
						<dd>I do, Peter.</dd>
				</dl>
			</li>
			<li>I know lots of things. One thing I know for sure is I can't have a sidekick, even if I wanted one. You see, I know what happens. I know the future.</li>
		</ul>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>a</code></h1>
		
		<p>Hi, stranger, <a href="#">wanna know what's going on</a>?</p>
		
		<p>I'm the <a href="#">town doctor</a>, you fool.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>abbr</code></h1>
		
		<p>Oh, no, <abbr title="Mister">Mr.</abbr> Rex, we don't fight. We don't believe in that. Let the old men who start the wars fight the wars. That's our motto.</p>
		
		<p>Come on. You wanna be a sidekick, learn the ropes.</p>
		
		<p><abbr title="Okay">OK</abbr>, Rex. <abbr title="Okay">OK</abbr>.</p>
		
		<p>Good. Vey good.</p>
		
		<p>Thank you. Thank you vey much.</p>
		
		<p><abbr title="Okay">OK</abbr>.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>bdi</code></h1>
		
		<p><bdi>Yeah, he's on the couch there, dead.</bdi></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>bdo</code></h1>
		
		<p><bdo dir="rtl">Yeah, he's on the couch there, dead.</bdo></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>cite</code></h1>
		
		<p>But I just want to say one thing.</p>
		
		<p>l hope you shoot Mr. Barber in both hands.</p>
		
		<p>Who?</p>
		
		<p>Barber. Bob Barber.</p>
		
		<p>Bob Barber?</p>
		
		<p>That's what the <cite><a href="#">colonel's daughter</a></cite> called him.</p>
		
		<p>Not Bad Bob Barber?</p>
		
		<p>Bothersome Bob Barber?</p>
		
		<p>Bob "The Butcher" Barber?</p>
		
		<p>No.</p>
		
		<p>No, just Bob.</p>
		
		<p>My favourite movie is <cite>Rustlers' Rhapsody</cite> by Hugh Wilson.</p>
		
		<p><cite>Rustlers' Rhapsody</cite>, by Hugh Wilson.</p>
		
		<p><cite><a href="#">Rustlers' Rhapsody</a></cite> is a great movie, even after 73 viewings.</p></p>
		
		<p><cite>Rustlers' Rhapsody</cite>, by <span class="hcard"><span class="fn n"><span class="given-name">Hugh</span> <span class="family-name">Wilson</span></span></span></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>code</code></h1>
		
		<p>In the '60s, <code>they started making these spaghetti Westerns</code>. I was always jealous of these guys because they had better <code>background music</code> than we did. They all got to wear those great raincoats, even when it was <code>110&deg;</code> in the shade. Trouble was, you could <code>hardly understand</code> anything they said.</p>
		
		<p>To create a new array of cowboys, type the following: <code>var cowboys = new Array(3)</code></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>data</code></h1>
		
		<ul>
			<li><data value="B00BTYRB1C"><a href="http://amzn.com/B00BTYRB1C">Rustlers Rhapsody (2013)</a></data></li>
			<li><data value="B0001JXPW0"><a href="http://amzn.com/B0001JXPW0">Rustlers' Rhapsody (1985)</a></data></li>
			<li><data value="6300214613"><a href="http://amzn.com/6300214613">Rustlers' Rhapsody [VHS] (1985)</a></data></li>
		</ul>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>dfn</code></h1>
		
		
		<p><dfn id="okay"><abbr title="Okay">OK</abbr></dfn> can be used to express assent, agreement, or acceptance.</p>
		
		<p>There's a definite wind factor, and we've got a problem with the sun!</p>
		
		<p>Just shoot, <a href="#okay"><abbr title="Okay">OK</abbr></a>?</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>em</code> + <code>i</code></h1>
		
		<p>I <em>can't be sure</em>. I don't want to <i>start a panic</i>, but I think... <em>I think it's some kind of bacteria</em> that splits the skin. <i>Fortunately</i>, so far, it's just <em>confined to males</em>, but who can tell? I'm not <i>prepared</i> to fight this <em>kind of thing</em>. I don't have the <i>tools or the know-how</i>. I don't have the <em>drugs</em>!</p>
				
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>kbd</code></h1>
		
		<p>
			<kbd>`</kbd><wbr><kbd>1</kbd><wbr><kbd>2</kbd><wbr><kbd>3</kbd><wbr><kbd>4</kbd><wbr><kbd>5</kbd><wbr><kbd>6</kbd><wbr><kbd>7</kbd><wbr><kbd>8</kbd><wbr><kbd>9</kbd><wbr><kbd>0</kbd><wbr><kbd>-</kbd><wbr><kbd>=</kbd><wbr><kbd>Bkspc</kbd>
			<br>
			<kbd>Tab</kbd><wbr><kbd>q</kbd><wbr><kbd>w</kbd><wbr><kbd>e</kbd><wbr><kbd>r</kbd><wbr><kbd>t</kbd><wbr><kbd>y</kbd><wbr><kbd>u</kbd><wbr><kbd>i</kbd><wbr><kbd>o</kbd><wbr><kbd>p</kbd><wbr><kbd>[</kbd><wbr><kbd>]</kbd><wbr><kbd>\</kbd>
			<br>
			<kbd>Caps</kbd><wbr><kbd>a</kbd><wbr><kbd>s</kbd><wbr><kbd>d</kbd><wbr><kbd>f</kbd><wbr><kbd>g</kbd><wbr><kbd>h</kbd><wbr><kbd>j</kbd><wbr><kbd>k</kbd><wbr><kbd>l</kbd><wbr><kbd>;</kbd><wbr><kbd>'</kbd><wbr><kbd>Enter</kbd>
			<br>
			<kbd>Shift</kbd><wbr><kbd>z</kbd><wbr><kbd>x</kbd><wbr><kbd>c</kbd><wbr><kbd>v</kbd><wbr><kbd>b</kbd><wbr><kbd>n</kbd><wbr><kbd>m</kbd><wbr><kbd>,</kbd><wbr><kbd>.</kbd><wbr><kbd>/</kbd><wbr><kbd>Shift</kbd>
		</p>
		
		<p>Press <kbd>CTRL</kbd>+<kbd>F5</kbd> if you <q>ride alone.</q></p>
		
		<p>Press <kbd><kbd>Shift</kbd> + <kbd>F3</kbd></kbd> if you can smell the sheepherders.</p>
		
		<p>To make the cattlemen join forces with the railroad guys, select <kbd><kbd><samp>File</samp></kbd> + <kbd><samp>Join Forces...</samp></kbd></kbd>.</p>
		
		<p>To shoot the guns out of their hands, select <kbd>File &rsaquo; Bang bang!</kbd></p>
		
		<p><kbd><kbd>A</kbd> + <kbd>B</kbd> + <kbd>C</kbd> + <kbd>D</kbd> + <kbd>E</kbd> + <kbd>F</kbd> + <kbd>G</kbd> + <kbd>H</kbd> + <kbd>I</kbd> + <kbd>J</kbd> + <kbd>K</kbd> + <kbd>L</kbd> + <kbd>M</kbd> + <kbd>N</kbd> + <kbd>O</kbd> + <kbd>P</kbd> + <kbd>Q</kbd> + <kbd>R</kbd> + <kbd>S</kbd> + <kbd>T</kbd> + <kbd>U</kbd> + <kbd>V</kbd> + <kbd>W</kbd> + <kbd>X</kbd> + <kbd>Y</kbd> and <kbd>Z</kbd>!</kbd></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>mark</code></h1>
		
		<p>I'll curse if I want to! <mark>Damn</mark>, <mark>damn</mark>, <mark>hell</mark>, <mark>damn</mark>, <mark>tee-tee</mark>, <mark>do-do</mark>.</p>
		
		<p>Hold on, little <mark>buckaroos</mark>. You can't be hearing language like that. Get on back to school, obey your teachers and study really hard.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>q</code></h1>
		
		<p>Oh. <q>It's all so violent.</q></p>
		
		<p><q>Me time?</q></p>
		
		<p>Bob <q>The Butcher</q> Barber?</p>
		
		<p>I can't help but feel a little responsible for what's happened here today. Would a totally sincere <q>sorry</q> do?</p>
		
		<p><q>On Wildfire, <q>On, Wildfire, <q>On, Wildfire, <q>On, Wildfire, <q>On, Wildfire, on!</q></q></q></q></q></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>ruby</code> + <code>rp</code> + <code>rt</code></h1>
		
		<p><ruby>攻殻<rp>（</rp><rt>こうかく</rt><rp>）</rp>機動隊<rp>（</rp><rt>きどうたい</rt><rp>）</rp></ruby></p>
		
		<p><ruby><ruby>攻<rp>（</rp><rt>こう</rt><rp>）</rp>殻<rp>（</rp><rt>かく</rt><rp>）</rp>機<rp>（</rp><rt>き</rt><rp>）</rp>動<rp>（</rp><rt>どう</rt><rp>）</rp>隊<rp>（</rp><rt>たい</rt><rp>）</rp></ruby><rp>（</rp><rt>O'Herlihan</rt><rp>）</rp></ruby></p>
		
		<p>The <b>Singing Cowboy</b> — <ruby>草泥馬<rp>(</rp><rt>Rex O'Herlihan</rt><rp>)</rp></ruby> — is &hellip; confused by this asian type &mdash; <ruby>河蟹<rp> (</rp><rt>O'Herlihan</rt><rp>) </rp></ruby> &mdash; because he's a cowboy.</p>
		
		<p><ruby><ruby>世<rp>（</rp><rt>ㄕˋ</rt><rp>）</rp>上<rp>（</rp><rt>ㄕㄤˋ</rt><rp>）</rp>無<rp>（</rp><rt>ㄨˊ</rt><rp>）</rp>難<rp>（</rp><rt>ㄋㄢˊ</rt><rp>）</rp>事<rp>（</rp><rt>ㄕˋ</rt><rp>）</rp>只<rp>（</rp><rt>ㄓˇ</rt><rp>）</rp>怕<rp>（</rp><rt>ㄆㄚˋ</rt><rp>）</rp>有<rp>（</rp><rt>ㄧㄡˇ</rt><rp>）</rp>心<rp>（</rp><rt>ㄒㄧㄣ</rt><rp>）</rp>人<rp>（</rp><rt>ㄖㄣˊ</rt><rp>）</rp></ruby><rp> （</rp><rt>¡Adiós buckaroos!</rt><rp>）</rp></ruby></p>
		
		<p><ruby>한자<rp>(</rp><rt>漢字</rt><rp>)</rp></ruby></p>
		
		<p><ruby><strong>buckaroo</strong> <rp>(</rp><rt>buck-a-roo</rt><rp>)</rp></ruby></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>s</code></h1>
		
		<p><s>For some reason, the bad guy was always a Colonel who had a beautiful daughter and about a thousand head of cattle which you would hear but never see.</s></p>
		
		<p>Oh yeah, <s>root's kicking in</s>.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>samp</code></h1>
		
		<p>The computer said <samp>On, Wildfire, on!</samp> but I didn't know what that meant.</p>
		
		<p>When you click the <kbd>Delete</kbd> button, you will be asked <samp>Do you ride alone?</samp> Click <kbd>Yes</kbd> to continue.</p>
		
		<p>If the browser spits out an error message such as <samp>Doomed, l tell you! Doomed!</samp>, you may have simply ordered a large glass of warm gin served with a human hair in it.</p>
		
		<p>The <samp>Cowboy</samp> menu is where you will find the important <samp>Yee-haw!</samp> and <samp>Buckaroo!</samp> commands</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>small</code></h1>
		
		<p><small>Let me guess. You're new here at Oakwood Estates, aren't you, mister? You buy me a drink, I'll tell you what's going on.</small></p>
		
		<p><span class="<!--@echo ns-->small">You can kill me too</span>, if you want. But I think it's <span class="<!--@echo ns-->small">exactly this type of thing</span> that drives down property values here in Oakood Estates &hellip;</p>
		
		<p class="<!--@echo ns-->small">Every time Rex got close to having some sort of relationship with a girl, you could bet something else would happen.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>strong</code> + <code>b</code></h1>
		
		<p><strong>What in the hell are you?</strong> Just a stranger passing through. <b>Where in the hell did you get that shirt?</b> How a person dresses is nobody's business but his or her own.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>sub</code> + <code>sup</code></h1>
		
		<p>H<sub>2</sub>O is the chemical formula for water; Peter, the town drunk, learned this on the 10<sup>th</sup> of May, 1985.</p>
		
		<p>Mister, <sub>I never saw shooting like that in my life</sub>. <sup>You're good</sup>.</p>
		
		<p>Miss Tracy said <q>H<sub>2</sub>SO<sub>4</sub>. Num<sup>2</sup>.</q></p>
		
		<p>The sheepherders' say that the most beautiful women are <span lang="fr"><abbr>M<sup>lle</sup></abbr> Gwendoline</span> and <span lang="fr"><abbr>M<sup>me</sup></abbr> Denise</span>.</p>
		
		<p>The 1<sup>st</sup>, 2<sup>nd</sup>, 3<sup>rd</sup> and 4<sup>th</sup> railroad men were fixin' to shoot Rex and his sidekick.</p>
		
		<p>The Colonel's daughter learned that the coordinate of the <var>i</var>th point is (<var>x<sub><var>i</var></sub></var>, <var>y<sub><var>i</var></sub></var>). This helped her to realized that the 10th point has coordinate (<var>x<sub>10</sub></var>, <var>y<sub>10</sub></var>).</p>
		
		<p>Unfortunatley, not many cowboys understand <var>E</var>=<var>m</var><var>c</var><sup>2</sup> f(<var>x</var>, <var>n</var>) = log<sub>4</sub><var>x</var><sup><var>n</var></sup>.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>time</code></h1>
		
		<p>"Well, <time datetime="1985-05-10T10:00-08:00">time to hit the sack</time>. Night, Peter.</p>
		
		<p>Pleasant dreams, Rex.</p>
		
		<p>Rhustlers' Rhapsody was released on the <time pubdate datetime="1985-05-10T10:00-08:00">10<sup>th</sup> of May, 1985</time>.</p>
		
		<p>Yup, that's right, it was <time>1985</time>.</p>
		
		<p>The popular showtime hour was <time datetime="20:00">8 p.m.</time>.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>u</code></h1>
		
		<p><span itemscope itemtype="http://schema.org/Person" lang="ja-latn"><u itemprop="familyName">Rex</u> <span itemprop="givenName">O'Herlihan</span></span></p>
		
		<p>When Rex realized that he couldn't read <q><u class="pnm">屈原</u>放逐，乃賦<cite class="bnm">離騒</cite>。<u class="pnm">左丘</u>失明，厥有<cite class="bnm">國語</cite>。（司馬遷 《<cite>報任安書</cite>》）,</q> he jumped on his horse and rode off into the sunset.</p>
		
		<p><span class="vcard" lang="ja-latn"><span class="fn n"><u class="family-name">Rex</u> <span class="given-name">O'Herlihan</span></span></span> is the main protagonist in <span class="vcard" lang="ja-latn"><span class="fn n"><span class="given-name">Hugh</span> <u class="family-name">Wilson</u></span></span>'s <i lang="ja-latn">comedy-Western</i> "Rustlers' Rhapsody".</p>
		
		<p>Wilson, Hugh. <u>Rustlers' Rhapsody</u>. Paramount Pictures films, 1985.</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>var</code></h1>
		
		<p><p>Peter turned to the blackboard and picked up the chalk. After a few moment's thought, he wrote <var>E</var> = <var>m</var> <var>c</var><sup>2</sup>. Mr. O'Herlihan looked pleased.</p></p>
		
		<p>Thanks to Rex, Peter learned that <var>E</var> energy is equal to <var>m</var> mass multiplied by the <var>c</var> speed of light, squared.</p>
		
		<p>Oddly enough, Peter had troubles with simple equations, like: <var>x</var> = <var>y</var> + 2</p>
		
		<p>Rex shot people in the hands with the help of Pythagoras' theorem to solve for the hypotenuse <var>a</var> of a triangle with sides <var>b</var> and <var>c</var></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>wbr</code></h1>
		
		<p><code>theGoodGuys<wbr>getTheBadGuys('Yee-haw')</code></p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>del</code> + <code>ins</code></h1>
		
		<p>This fancy-shooting fella has got to be kept completely in the <del>light</del> <ins>dark</ins> about what we're doing.</p>
		
		<p>My favorite cowboy is <del datetime="1985-05-10T10:00-08:00">Wrangler Bob Barber</del> <ins datetime="1985-05-10T10:00-08:00">Rex O'Herlihan</ins>, but I also like the town drunk, Peter.</p>
		
		<p>There's a definite wind factor, and we've got a problem with the <del>moon</del> <ins>sun</ins>!</p>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>table</code> + children</h1>
		
		<div class="<!--@echo ns-->baseline">
		<div class="<!--@echo ns-->scroll">
			<table>
				<caption>Rustlers' Rhapsody (1985) is an American comedy-Western film.</caption>
				<thead>
					<tr>
						<th scope="col">Character name</th>
						<th scope="col">Character nickname</th>
						<th scope="col">Sidekick</th>
						<th scope="col">Catch-phrase</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="4">Released Friday May 10, 1985.</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<th scope="row">Rex O'Herlihan</th>
						<td>The Singing Cowboy</td>
						<td>Peter</td>
						<td><q>On, Wildfire, on!</q></td>
					</tr>
					<tr>
						<th scope="row">Peter</th>
						<td>The town drunk</td>
						<td></td>
						<td><q>Hot diggity!</q></td>
					</tr>
					<tr>
						<th scope="row">Bob Barber</th>
						<td>Wrangler Bob Barber</td>
						<td></td>
						<td><q>I'm a lawyer, you idiot!</q></td>
					</tr>
					<tr>
						<th scope="row">Blackie</th>
						<td></td>
						<td></td>
						<td><q>I smell sheep.</q></td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<caption>I guess the first thing I'll do is get some new clothes. Understated stuff, lots of browns.</caption>
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
						<th scope="col">Persona</th>
						<th scope="col">Phone</th>
					</tr>
				</thead>
				<tbody>
					<tr class="vcard">
						<th scope="row" class="n" data-title="Name">
							<b class="family-name">O'Herlihan</b>,
							<b class="given-name">Rex</b>
						</th>
						<td data-title="Email">
							<a class="email" href="mailto:#">rex.oherlihan@rustlersrhapsody.com</a>
						</td>
						<td data-title="Persona">
							Good guy
						</td>
						<td class="tel" data-title="Phone">
							<a href="tel:+15555555555">(555) 555-5555</a>
						</td>
					</tr>
					<tr class="vcard">
						<th scope="row" class="n" data-title="Name">
							<b class="given-name">Peter</b>
						</th>
						<td data-title="Email">
							<a class="email" href="mailto:#">peter@rustlersrhapsody.com</a>
						</td>
						<td data-title="Persona">
							Sidekick
						</td>
						<td class="tel" data-title="Phone">
							<a href="tel:+15555555555">(555) 555-5555</a>
						</td>
					</tr>
					<tr class="vcard">
						<th scope="row" class="n" data-title="Name">
							<b class="family-name">Barber</b>,
							<b class="given-name">Bob</b>
						</th>
						<td data-title="Email">
							<a class="email" href="mailto:#">bob.barber@rustlersrhapsody.com</a>
						</td>
						<td data-title="Persona">
							Bad guy
						</td>
						<td class="tel" data-title="Phone">
							<a href="tel:+15555555555">(555) 555-5555</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="<!--@echo ns-->scroll">
			<table summary="Dialogue between Rex and Peter.">
				<caption>Holy cow! All Western towns have the railroad coming through?.</caption>
				<thead>
					<tr>
						<th scope="col">Yep.</th>
						<th scope="col">Wait!</th>
						<th scope="col">Wait a minute.</th>
						<th scope="col">Wait a minute.</th>
						<th scope="col">One last thing.</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th scope="col" colspan="6">You know, the most amazing thing is that all these other towns are as violent as this one.</th>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td scope="row">Do all these towns have a town drunk?</td>
						<td>I'm not sure.</td>
						<td>Oh, come on.</td>
						<td>You know.</td>
						<td>No, you're the first I ever met.</td>
					</tr>
					<tr>
						<th scope="col" colspan="6">Oh, well, that's something at least, isn't it?</th>
					</tr>
					<tr>
						<td scope="row">Sure is, partner.</td>
						<td>You're one of a kind.</td>
						<td>You ought to &hellip;</td>
						<td>You ought to travel more.</td>
						<td>Get out, see the world.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<p>Simple <code>table</code>:</p>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<tr>
					<td>Rex</td>
					<td>O'Herlihan</td>
				</tr>
				<tr>
					<td>Bob</td>
					<td>Barber</td>
				</tr>
			</table>
		</div>
		
		<p>Simple <code>table</code> with header:</p>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<tr>
					<th>First name</th>
					<th>Last name</th>
				</tr>
				<tr>
					<td>Rex</td>
					<td>O'Herlihan</td>
				</tr>
				<tr>
					<td>Bob</td>
					<td>Barber</td>
				</tr>
			</table>
		</div>
		
		<p>A <code>table</code> with <code>thead</code>, <code>tfoot</code>, and <code>tbody</code></p>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td>Bob</td>
						<td>Barber</td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td>Rex</td>
						<td>O'Herlihan</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<p>A <code>table</code> with <code>colgroup</code>:</p>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<colgroup span="4"></colgroup>
				<tr>
					<th>Character name</th>
					<th>Character nickname</th>
					<th>Sidekick</th>
					<th>Catch-phrase</th>
				</tr>
				<tr>
					<th>Rex O'Herlihan</th>
					<td>The Singing Cowboy</td>
					<td>Peter</td>
					<td><q>On, Wildfire, on!</q></td>
				</tr>
				<tr>
					<th>Bob Barber</th>
					<td>Wrangler Bob Barber</td>
					<td></td>
					<td><q>I'm a lawyer, you idiot!</q></td>
				</tr>
			</table>
		</div>
		
		<p>A <code>table</code> with <code>colgroup</code> and <code>col</code>:</p>
		
		<div class="<!--@echo ns-->scroll">
			<table>
				<colgroup>
					<col>
					<col span="2">
				</colgroup>
				<tr>
					<th>Holy mackerel</th>
					<th>Holy cow!</th>
					<th>Hot diggity!</th>
				</tr>
				<tr>
					<td>Baloney!</td>
					<td>Warm gin!</td>
					<td>Screw it!</td>
				</tr>
			</table>
		</div>
		
	</section>
	
	<hr>
	
	<section>
		
		<h1 class="<!--@echo ns-->marker"><code>form</code> + children</h1>
		
		<form id="fm" name="fm" action="" method="post">
			
			<fieldset>
				
				<legend>Let me guess. You're new here at Oakwood Estates, aren't you, mister? You buy me a drink, I'll tell you what's going on.</legend>
				
				<p><code>&lt;fieldset&gt;</code> &amp; <code>&lt;legend&gt;</code> elements only &#8593;</p>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;input&gt;</code> element types:</p>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_input-button-1">Button</label>
					<input type="button" id="fm_input-button-1" name="input-button-1" value="button">
				</div>
				
				<div class="<!--@echo ns-->baseline">
					<input type="checkbox" id="fm_input-checkbox-1" name="input-checkbox[]" value="checkbox">&nbsp;<label for="fm_input-checkbox-1">Checkbox</label>
					<input type="checkbox" id="fm_input-checkbox-2" name="input-checkbox[]" value="checkbox">&nbsp;<label for="fm_input-checkbox-2">Checkbox</label>
					<input type="checkbox" id="fm_input-checkbox-3" name="input-checkbox[]" value="checkbox">&nbsp;<label for="fm_input-checkbox-3">Checkbox</label>
					<input type="checkbox" id="fm_input-checkbox-4" name="input-checkbox[]" value="checkbox">&nbsp;<label for="fm_input-checkbox-4">Checkbox</label>
					<input type="checkbox" id="fm_input-checkbox-5" name="input-checkbox[]" value="checkbox">&nbsp;<label for="fm_input-checkbox-5">Checkbox</label>
				</div>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_input-color-1">Color</label>
					<input type="color" id="fm_input-color-1" name="input-color-1">
				</div>
				
				<div>
					<label for="fm_input-date-1">Date</label>
					<input type="date" id="fm_input-date-1" name="input-date-1">
				</div>
				
				<div>
					<label for="fm_input-datetime-1">Datetime</label>
					<input type="datetime" id="fm_input-datetime-1" name="input-datetime-1">
				</div>
				
				<div>
					<label for="fm_input-datetime-local-1">Datetime-local</label>
					<input type="datetime-local" id="fm_input-datetime-local-1" name="input-datetime-local-1">
				</div>
				
				<div>
					<label for="fm_input-email-1">Email</label>
					<input type="email" id="fm_input-email-1" name="input-email-1">
				</div>
				
				<div>
					<label for="fm_input-file-1">File</label>
					<input type="file" id="fm_input-file-1" name="input-file-1">
				</div>
				
				<div>
					<label for="fm_input-hidden-1">Hidden</label>
					<input type="hidden" id="fm_input-hidden-1" name="input-hidden-1" value="hidden">
				</div>
				
				<div>
					<label for="fm_input-image-1">Image</label>
					<input type="image" id="fm_input-image-1" name="input-image-1" src="image.png" alt="" width="100" height="16">
				</div>
				
				<div>
					<label for="fm_input-month-1">Month</label>
					<input type="month" id="fm_input-month-1" name="input-month-1">
				</div>
				
				<div>
					<label for="fm_input-number-1">Number</label>
					<input type="number" id="fm_input-number-1" name="input-number-1" min="5" max="18" step="0.5" value="9">
				</div>
				
				<div>
					<label for="fm_input-password-1">Password</label> 
					<input type="password" id="fm_input-password-1" name="input-password-1">
				</div>
				
				<div>
					<input type="radio" id="fm_input-radio-1" name="input-radio" value="radio">&nbsp;<label for="fm_input-radio-1">Radio</label>
					<input type="radio" id="fm_input-radio-2" name="input-radio" value="radio">&nbsp;<label for="fm_input-radio-2">Radio</label>
					<input type="radio" id="fm_input-radio-3" name="input-radio" value="radio">&nbsp;<label for="fm_input-radio-3">Radio</label>
					<input type="radio" id="fm_input-radio-4" name="input-radio" value="radio">&nbsp;<label for="fm_input-radio-4">Radio</label>
					<input type="radio" id="fm_input-radio-5" name="input-radio" value="radio">&nbsp;<label for="fm_input-radio-5">Radio</label>
				</div>
				
				<div>
					<label for="fm_input-range-1">Range</label>
					<input type="range" id="fm_input-range-1" name="input-range-1" min="1" max="100" value="0">
				</div>
				
				<div>
					<label for="fm_input-reset-1">Reset</label>
					<input type="reset" id="fm_input-reset-1" name="input-reset-1" value="Reset">
				</div>
				
				<div>
					<label for="fm_input-search-1">Search</label>
					<input type="search" id="fm_input-search-1" name="input-search-1" placeholder="Search &hellip;">
				</div>
				
				<div>
					<label for="fm_input-submit-1">Submit</label>
					<input type="submit" id="fm_input-submit-1" name="input-submit-1" value="Submit">
				</div>
				
				<div>
					<label for="fm_input-tel-1">Tel</label>
					<input type="tel" id="fm_input-tel-1" name="input-tel-1" pattern="\(\d\d\d\) ?\d\d\d-\d\d\d\d" title="Phone Number (Format: (###) ###-####)" placeholder="(###) ###-####">
				</div>
				
				<div>
					<label for="fm_input-default-1">Default</label>
					<input id="fm_input-default-1" name="input-default-1">
				</div>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_input-text-1">Text</label>
					<input type="text" id="fm_input-text-1" name="input-text-1">
				</div>
				
				<div>
					<label for="fm_input-text-2">Text</label>
					<input type="text" id="fm_input-text-2" name="input-text-2">
				</div>
				
				<div>
					<label for="fm_input-time-1">Time</label>
					<input type="time" id="fm_input-time-1" name="input-time-1">
				</div>
				
				<div>
					<label for="fm_input-url-1">URL</label>
					<input type="url" id="fm_input-url-1" name="input-url-1">
				</div>
				
				<div>
					<label for="fm_input-week-1">Week</label>
					<input type="week" id="fm_input-week-1" name="input-week-1">
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;textarea&gt;</code> element:</p>
				
				<div>
					<label for="fm_input-textarea-1">Textarea</label>
					<textarea id="fm_input-textarea-1" name="textarea-1"></textarea>
				</div>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_input-textarea-2">Textarea</label>
					<textarea id="fm_input-textarea-2" name="textarea-2"></textarea>
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;select&gt;</code></p>
				
				<div>
					<label for="fm_select-1">Select</label>
					<select id="fm_select-1" name="select-1">
						<option value="option1">Option 1</option>
						<option value="option2" selected>Option 2</option>
						<option value="option3">Option 3</option>
					</select>
				</div>
				
				<div>
					<label for="fm_select-2">Select</label>
					<select id="fm_select-2" name="select-2">
						<optgroup label="Group 1">
							<option>Option 1.1</option>
						</optgroup> 
						<optgroup label="Group 2">
							<option>Option 2.1</option>
							<option>Option 2.2</option>
						</optgroup>
						<optgroup label="Group 3" disabled>
							<option>Option 3.1</option>
							<option>Option 3.2</option>
							<option>Option 3.3</option>
						</optgroup>
					</select>
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;button&gt;</code> element:</p>
				
				<div>
					<button type="button" name="fm_button-button-1">Button</button>
				</div>
				
				<div class="<!--@echo ns-->baseline">
					<button type="reset" name="fm_button-reset-1">Reset</button>
				</div>
				
				<div>
					<button type="submit" name="fm_button-submit-1">Submit</button>
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;datalist&gt;</code> element:</p>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_datalist-input-1">Select</label>
					<input type="text" id="fm_datalist-input-1" name="fm_datalist-input-1" list="fm_datalist-1" placeholder="Select &hellip;">
					<datalist id="fm_datalist-1">
						<option value="option1">Option 1</option>
						<option value="option1">Option 2</option>
						<option value="option1">Option 3</option>
						<option value="option1">Option 4</option>
					</datalist>
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;keygen&gt;</code> element:</p>
				
				<div class="<!--@echo ns-->baseline">
					<label for="fm_keygen-1">Keygen</label>
					<keygen id="fm_keygen-1" name="fm_keygen-1" challenge="challenge string" keytype="type" keyparams="pqg-params">
				</div>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;meter&gt;</code> element:</p>
				
				<div class="<!--@echo ns-->baseline">
				<p><meter value="0.5">Moderate activity,</meter> Oakwood Estates Saloon, 89 patrons</p>
				<p><meter value="0.25">Low activity,</meter> Oakwood Estates Saloon, 48 patrons</p>
				</div>
				
				<p><meter value="0.25">Low activity,</meter> Oakwood Estates Saloon, 66 patrons</p>
				
			</fieldset>
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;progress&gt;</code> element:</p>
				
				<div class="<!--@echo ns-->baseline">
				<progress></progress>
				</div>
				
				<progress></progress>
				
			</fieldset>
			
		</form>
		
		<form onsubmit="return false" oninput="o.value = parseInt(a.value) + parseInt(b.value)">
			
			<fieldset>
				
				<legend>Mister, I never saw shooting like that in my life. You're good.</legend>
				
				<p><code>&lt;output&gt;</code> element:</p>
				
				<div class="<!--@echo ns-->baseline">
					<input type="number" id="a" name="a" step="any"> + <input type="number" id="b" name="b" step="any"> = <output for="a b" name="o"></output>
				</div>
				
			</fieldset>
			
		</form>
		
	</section>
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	
</body>
</html>
