<section>
	
	<div class="<!--@echo ns-->baseline">
	<h1 class="<!--@echo ns-->marker">Utility tests</h1>
	</div>
	
	<h2 class="<!--@echo ns-->subtle">Simple baseline example:</h2>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test1"><span>Rex O'Herlihan:</span> This is 1884. You've gotta date and date and date and date and sometimes marry 'em even before... you know... <span>Peter:</span> Now, wait a minute. Are you tellin' me you've never...? <span>Rex O'Herlihan:</span> Never. <span>Peter:</span> My god, Rex. You ARE a good guy!</p>
	</div>
	
	<h2 class="<!--@echo ns-->subtle">Baseline with offset:</h2>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test2">Hmm. Well, from now on, I'm the town root junkie.</p>
	</div>
	
	<h2 class="<!--@echo ns-->subtle">Same as above, but multi-line:</h2>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test2"><span>Rex O'Herlihan:</span> This is 1884. You've gotta date and date and date and date and sometimes marry 'em even before... you know... <span>Peter:</span> Now, wait a minute. Are you tellin' me you've never...? <span>Rex O'Herlihan:</span> Never. <span>Peter:</span> My god, Rex. You ARE a good guy!</p>
	</div>
	
</section>

<hr>
