<section>
	
	<h1 class="<!--@echo ns-->marker">Utility tests</h1>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test1">The quick brown fox hxy jumps over the lazy dog hxy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in mauris nunc. Vivamus dictum dapibus egestas. Maecenas id rutrum elit. Sed venenatis laoreet eleifend. Praesent pretium tortor ut sem suscipit non lobortis diam tempus. Unique New York. The arsonist had oddly shaped feet. The human torch was denied a bank loan. How now brown cow. The skeleton ran out of shampoo in the shower.</p>
	</div>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test2">The quick brown fox hxy jumps over the lazy dog hxy.</p>
	</div>
	
	<div class="<!--@echo ns-->baseline">
		<p class="<!--@echo ns-->test2">The quick <span>brown</span> fox hxy jumps over the lazy dog hxy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in mauris nunc. Vivamus dictum dapibus egestas. Maecenas id rutrum elit. Sed venenatis laoreet eleifend. Praesent pretium tortor ut sem suscipit non lobortis diam tempus. Unique New York. The arsonist had oddly shaped feet. The human torch was denied a bank loan. How now brown cow. The skeleton ran out of shampoo in the shower.</p>
	</div>
	
</section>

<hr>
