//======================================================================
// VARIABLES
//======================================================================

// Selector's "pseudo namespace" prefix:
$REX: 'rex_' !default;

// Browser default `font-size`:
$rex_browser-font-size: 16px !default;

// Base `font-size`:
$rex_base-font-size: 16px !default;

// Base `line-height`:
$rex_base-line-height: 24px !default;

// Natural box layout?
$rex_flag-natural-box-model: true !default;

// Heading classes?
$rex_flag-heading-classes: true !default;

// Subheading classes?
$rex_flag-subheading-classes: true !default;

// Table styles?
$rex_flag-tables: true !default;

// Form styles?
$rex_flag-forms: true !default;

// Include the baseline class?
$rex_flag-baseline: true !default;

// Baseline "major" grid color:
$rex_baseline-major-grid-color: #f00 !default;

// Baseline "minor" grid color:
$rex_baseline-minor-grid-color: #0ff !default;

// Baseline "outline" grid color:
$rex_baseline-outline-color: #f00 !default;
