html {
	height: 100%; /* Expand to height of browser window. */
	overflow-y: scroll; /* Force scrollbar in non-IE. */
}

address { font-style: italic; }

body {
	font-family: Arial, sans-serif; /* Serif: Cambria, Georgia, serif; */
	color: #000;
	/* Improve default text rendering, handling of kerning pairs and ligatures: */
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/* Initial height of `<html>`, but will expand taller if necessary: */
	min-height: 100%; /* Compliant browsers. */
	_height: 100%; /* IE6 treats `height` as `min-height`. */
	background: #fff;
}

h1, h2, h3, h4, h5, h6 { font-family: Arial, sans-serif; }
.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	font-family: Cambria, Georgia, serif;
	font-weight: normal;
}

blockquote {
	border-left: 3px solid rgba(0, 0, 0, .25);
	padding: 0 0 0 1em;
	position: relative;
	quotes: none;
}
	blockquote:before,
	blockquote:after {
		content: '';
		content: none;
	}
		blockquote p { font: italic 1em/1.5 Arial, sans-serif; } /* 16px */
		blockquote p:last-of-type { margin: 0; }
@media all and (min-width: 720px) {
	blockquote:before {
		font: 6.25em/1 Arial, sans-serif; /* 100px */
		color: rgba(0, 0, 0, .25);
		display: block;
		content: "\201C";
		position: absolute;
		left: -.4em;
		top: -.1em;
	}
}

dl dt { font-weight: bold; }

hr, .hr {
	border-top-style: solid;
	border-top-color: rgba(0, 0, 0, .75);
}

p { font-family: Cambria, Georgia, serif; }
	p.firsties {
		font-family: Cambria, Georgia, serif;
		font-style: normal;
		font-weight: normal;
		font-size: 4.5rem; /* 72px */
		line-height: 1; /* (4.5 / 4.5) = 1 */
		margin-right: .5rem;
		vertical-align: middle;
		float: left;
		display: inline;
	}
	p a {
		color: #0D3A4F;
		font-weight: bold;
		text-decoration: none;
	}
	p a:visited { color: #0D3A4F; }
	p a:visited:hover,
	p a:focus,
	p a:focus:hover,
	p a:hover,
	p a:active {
		color: #046D8B;
	}

pre {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
	border: 1px solid rgba(0, 0, 0, .15);
	background: rgba(0, 0, 0, .05);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow:  0 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow:  0 0 5px 0 rgba(0, 0, 0, .1);
}
	pre code {
		color: inherit;
		border: 0;
		background: transparent;
	}

ol, ul { list-style-position: outside; }

a {
	color: #4E801C;
	text-decoration: none;
}
	a:visited { color: #4E801C; }
	a:visited:hover,
	a:focus,
	a:focus:hover,
	a:hover,
	a:active {
		color: #9EA301;
		text-decoration: none;
	}

abbr { font-style: italic; }
abbr[title] {
	border-bottom: .1em dotted;
	cursor: help;
}

cite { font-style: italic; }

code {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
	color: #333;
	background: rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

dfn { font-weight: bold; }
dfn[title] {
	border-bottom: .1em dotted;
	cursor: help;
}

em,
i { font-style: italic; }

kbd {
	font-family: monospace, serif;
	text-shadow: 0 1px 0 #fff;
	color: #000;
	background: #eee;
	-webkit-border-radius: .05em;
	   -moz-border-radius: .05em;
	        border-radius: .05em;
	box-shadow:
		0 0 0 2px #eee,
		0 0 0 3px #fff,
		0 1px 2px 4px rgba(0, 0, 0, 0.2);
}

mark {
	text-decoration: none;
	color: #525200;
	background-color: rgba(255, 255, 0, .75);
	box-shadow: 0 0 0 4px rgba(255, 255, 0, .75);
}

s { color: #666; }

samp {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
	color: #333;
}

span.amp1 {
	font-size: 110%;
	font-family: adobe-caslon-pro, Adobe Caslon Pro, Baskerville, "Goudy Old Style", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	font-style: italic;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
}

strong,
b { font-weight: bold; }

u { text-decoration: underline; }

var { font-style: italic; }

del {
	text-decoration: line-through;
	color: #600;
	background-color: rgba(255, 0, 0, .25);
	margin: 0 .15em;
	box-shadow: 0 0 0 2px rgba(255, 0, 0, .25);
}

ins {
	text-decoration: none;
	color: #003d14;
	background-color: rgba(0, 153, 51, .25);
	margin: 0 .15em;
	box-shadow: 0 0 0 2px rgba(0, 153, 51, .25);
}

table { background: rgba(255, 255, 255, .25); }
caption {
	font-weight: bold;
	text-align: left;
}
tfoot th,
tfoot td {
	color: #333;
	font-weight: normal;
}
tr th {
	text-align: left;
	border: 1px solid rgba(0, 0, 0, .25);
	background-color: rgba(0, 0, 0, .05);
}
tr td {
	text-align: left;
	border: 1px solid rgba(0, 0, 0, .25);
}
tr:nth-of-type(odd) { background: rgba(0, 0, 0, .05); }
