//======================================================================
// Functions:
//======================================================================

// Remove units from value.
//
// Usage:
//
// `.foo { line-height: unitless(1.5em); }`
//
// Output:
//
// `.foo { line-height: 1.5; }`
//
// @see https://github.com/mhulse/rex/issues/77
// @see http://stackoverflow.com/a/12335841/922323
//
// @param { integer } $value Any value with optional unit.
// @return { integer } $value minus its unit.

@function unitless($value) {
	
	@return ($value / ($value * 0 + 1));
	
}

//----------------------------------------------------------------------

// Convert value to relative number.
//
// Usage:
//
// ```
// .foo {
//     font-size: relative(25px)+rem;
//     margin: relative(10)+em 0;
// }
// ```
//
// Output:
//
// ```
// .foo {
//     font-size: 1.5625rem;
//     margin: 0.625rem 0;
// }
// ```
//
// @param { integer } [ $value = $base_font-size ] Can be a value with or without a unit.
// @param { integer } [ $context = $base_font-size ] Context of relative unit calculation.
// @return { integer } Relative result based on input params.

@function relative($value: $base_font-size, $context: $base_font-size) {
	
	@return (unitless($value) / unitless($context));
	
}

//----------------------------------------------------------------------

// Simple baseline mixin calculator.
//
// Usage:
//
// ```
// .foo {
//     line-height: baseline(25, .625);
//     padding: (baseline(25, .375) / 2)+em 0;
// }
// ```
//
// Output:
//
// ```
// .foo {
//     line-height: 1.2;
//     padding: 0.36em 0;
// }
// ```
//
// @param { integer } [ $value = $base_font-size ] An integer, assumed to be in pixels, where unit is optional.
// @param { integer } [ $offset = 1 ] Multiply the return value by this number.
// @param { integer } [ $context = $base_line-height ] Base `line-height` of document.
// @return { integer } A number relative to baseline.

@function baseline($value: $base_font-size, $offset: 1, $context: $base_line-height) {
	
	$value: unitless($value);
	$offset: unitless($offset);
	$context: unitless($context);
	
	@return ((($context * ceil($value / $context)) / $value) * $offset);
	
}
