/**
 * Base `font-size`.
 */

$font-size-base: 16px;

/**
 * Base `line-height`.
 */

$line-height-base: 24px;

/**
 * Simple baseline mixin calculator.
 *
 * Usage:
 * ```
 * .class { line-height: baseline(16px); }
 * #id { line-height: baseline(97px, .75); }
 * ```
 *
 * Output:
 * ```
 * .class { line-height: 1.5; }
 * #id { line-height: 0.92783505154639; }
 * ```
 *
 * Tip: Concat a unit to a variable: `unit(@baseline, px)`.
 *
 * @see http://flippinawesome.org/2013/05/20/less-tips-and-tricks/
 *
 * @todo Namespace.
 * @todo Make/mark required attributes.
 */

@function baseline($font-size: $font-size-base, $offset: 1, $line-height: $line-height-base) {
	
	@return ((($line-height * ceil($font-size / $line-height)) / $font-size) * $offset);
	
}

/*
.pxtorem(@px, @base: @font-size-base) {
	
	@pxtorem: unit(@px / @base, rem);
	
}
*/

/*----------------------------------( TESTS )----------------------------------*/

.test1 { line-height: baseline(16px); }
.test2 { line-height: baseline(97px, .75); }
