/*
@font-size-base: 16px;

@line-height-base: 24px;
*/

// http://www.johnfaulds.com.au/journal/less-baseline-grid-calculator/
// http://www.ifdattic.com/2011/10/19/converting-px-to-ems-with-less/
// https://github.com/mhulse/bassline/blob/gh-pages/demo/bassline.css


#stoops {
	
	/**
	 * Simple baseline mixin calculator.
	 *
	 * Usage:
	 *
	 * ```
	 * 	address {
	 * 		font-size: 1rem; // 16px
	 * 		line-height: @baseline; // Mixin variable. Math: (((1.5 / 1) = 1.5) * .75) = 1.125
	 * 		.baseline(1, .75); // Mixin call.
	 * 	}
	 * ```
	 *
	 * Tip: Concat a unit to a variable: `unit(@baseline, px)`.
	 *
	 * @see http://flippinawesome.org/2013/05/20/less-tips-and-tricks/
	 *
	 * @todo Namespace.
	 * @todo Make/mark required attributes.
	 */
	
	/*
	.baseline(@context; @offset: 1; @base: 1.5) {
		
		@baseline: (@base / @context) * @offset;
		
	}
	
	.pxtorem(@px, @base: @font-size-base) {
		
		@pxtorem: unit(@px / @base, rem);
		
	}
	*/
	
}

/*
.billy {
	font-size: (#stoops > .pxtorem(12));
}
*/