//======================================================================
// VARIABLES
//======================================================================

// Namespace:
//----------------------------------------------------------------------

$NS: 'rex_';

// Base values:
//----------------------------------------------------------------------

$base_font-size: 16px;
$base_line-height: 24px;
$base_margin: 10px;

// Flags:
//----------------------------------------------------------------------

$flag_natural-box-model: true;
