//======================================================================
// VARIABLES
//======================================================================

// Selector's pseudo namespace:
$NS: 'rex_' !default;

// Base `font-size`:
$base_font-size: 16px !default;

// Base `line-height`:
$base_line-height: 24px !default;

// Natural box layout?
$flag_natural-box-model: true !default;

// Include the baseline class?
$flag_baseline: true !default;

// Heading classes?
$flag_heading-classes: true !default;

// Subheading classes?
$flag_subheading-classes: true !default;

// Responsive images?
$flag_responsive-images: true !default;

// Element scroller?
$flag_element-scroller: true !default;
