//======================================================================
// NAMESPACE
//======================================================================

$NS: 'rex_';

//======================================================================
// BASE VALUES
//======================================================================

// Base `font-size`:
$base_font-size: 16px;

// Base `line-height`:
$base_line-height: 24px;

// Base `margin`:
$base_margin: 10px;

//======================================================================
// FLAGS
//======================================================================

// Box model normalization:
$flag_natural-box-model: true;
