@import "functions", "mixins", "variables";

//======================================================================
// DEVELOPMENT-ONLY CSS
//======================================================================

// SCSS tests:
//----------------------------------------------------------------------

.#{$NS}test1 { line-height: baseline(16); }

.#{$NS}test2 {
	@include baseline(25, .625);
	padding: #{baseline(25, .375) / 2}em 0; // (((1.92 * .375) = .72) / 2) = .36
}

.#{$NS}test3 { line-height: unitless(1.5em); }

// Custom headings:
//----------------------------------------------------------------------

.#{$NS}marker {
	@include baseline(22, .875, $optional: bold, $family: "Arial, sans-serif");
	color: #fff;
	text-transform: none;
	background: fade-out(#000, .15);
	margin: #{relative(12)}rem 0;
	padding: #{baseline(22, .875) / 2}em;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	box-shadow: 0 0 #{relative(5)}rem 0 fade-out(#000, .45);
}

.#{$NS}subtle {
	@include baseline(19, .875, $optional: normal, $family: "monospace, serif");
	color: #666;
	margin: #{relative(12)}rem 0;
}

// Demo only:
//----------------------------------------------------------------------

// Spacing for demo's sake:
body { padding: #{relative(12)}rem; }

// Tidy-up paragraphs after headings:
h1, h2, h3, h4, h5, h6 {
	+ p { margin-top: 0; }
}

// Responsive images:
img {
	max-width: 100%;
	max-height: 100%;
}

// Responsive tablular data:
.#{$NS}scroll {
	
	width: 100%;
	margin: #{relative(12)}rem 0;
	overflow-y: auto;
	/*-webkit-overflow-scrolling: touch;*/
	
	& > * { margin: 0 !important; }
	
}

// Spacing for form elements:
fieldset > div { margin: #{relative(12)}rem 0; }
