@import "variables", "functions";

// Tests:
//----------------------------------------------------------------------

.#{$NS}test1 { line-height: baseline(16); }

.#{$NS}test2 {
	font-size: em(25px)+rem;                // (25 / 16) = 1.5625
	line-height: baseline(25, .625);        // (((3 / 1.5625) = 1.92) * .625) = 1.2
	padding: (baseline(25, .375) / 2)+em 0; // (((1.92 * .375) = .72) / 2) = .36
}

//----------------------------------------------------------------------

body { padding: 1rem; }

//----------------------------------------------------------------------

.#{$NS}marker {
	font: bold 1.375rem/1.09090909090909 Arial, sans-serif; // 22px
	color: #fff;
	text-transform: none;
	background: fade-out(#000, .15);
	margin: .625rem 0; // 10px 0
	padding: .625rem; // 10px
	display: inline-block;
	*display: inline;
	*zoom: 1;
	box-shadow: 0 0 .3125rem 0 fade-out(#000, .45); // 0 0 5px 0
}

.#{$NS}subtle {
	font: normal 1.188rem/1.26262626262626 monospace, serif; // 19px
	color: #666;
	margin: .625rem 0; // 10px 0
}

//----------------------------------------------------------------------

/*
.#{$NS}container {
	margin: 0 auto;
	padding: 20px;
	max-width: 680px;
}
*/

//----------------------------------------------------------------------

fieldset > div { margin: .625rem 0; } // 10px
