@charset "UTF-8";

body { text-align: center; }

blockquote { border-left-color: #333; }
blockquote:before { color: #333; }
	blockquote p { color: #333; }
	blockquote footer { color: #666; }

figure {
	text-align: left;
	display: inline-block;
	max-width: 100%;
}
	figure figcaption {
		color: rgba(43, 50, 77, .75);
		background: rgba(173, 191, 199, .5);
	}
		figure figcaption a {
			font-weight: bold;
			text-decoration: none;
			color: #000;
		}
			figure figcaption a:visited,
			figure figcaption a:visited:hover,
			figure figcaption a:focus,
			figure figcaption a:focus:hover,
			figure figcaption a:hover,
			figure figcaption a:active {
				color: #000;
				text-decoration: underline;
			}

p a {
	color: #0D3A4F;
	font-weight: bold;
	text-decoration: none;
}
p a:visited { color: #0D3A4F; }
p a:visited:hover,
p a:focus,
p a:focus:hover,
p a:hover,
p a:active {
	color: #046D8B;
}

a {
	color: #4E801C;
	text-decoration: none;
}
	a:visited { color: #4E801C; }
	a:visited:hover,
	a:focus,
	a:focus:hover,
	a:hover,
	a:active {
		color: #9EA301;
		text-decoration: none;
	}

pre {
	border: 1px solid rgba(0, 0, 0, .15);
	background: rgba(0, 0, 0, .1);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow:  0 0 5px 0 rgba(0, 0, 0, .1);
	        box-shadow:  0 0 5px 0 rgba(0, 0, 0, .1);
}

code {
	color: #333;
	padding: 0 2px;
	background: rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}


.container {
	text-align: left;
	margin: 0 10px;
}
@media only screen and (min-width: 705px) { /* 640 + 50 + 15 */
	.container {
		width: 640px;
		margin: 0 auto;
	}
}

.marker {
	font: bold 1.375em/1.09090909090909 Arial, sans-serif; /* 22px */
	color: #990;
	text-transform: none;
	background: #ff0;
	margin: 5px 0 10px;
	padding: .54545454545455em .54545454545455em;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* <h1 id="flag">M<span>icky Hulse</span></h1> */
#flag {
	font: 100px/1 "Hulse", Arial, sans-serif;
	color: #FD5B84;
	margin: 20px 0;
	position: relative;
	top: 0;
	left: -20px;
}
	#flag span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	#flag a,
	#flag a:visited { color: #fff; }
	#flag a:visited:hover,
	#flag a:focus,
	#flag a:focus:hover,
	#flag a:hover,
	#flag a:active { text-decoration: none; }
	#flag a:active,
	#flag a:focus { outline: none; }

	span.firsties {
		background: rgba(0, 0, 0, .25);
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		-webkit-box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, .5);
		        box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, .5);
		text-shadow: 0 0 5px rgba(0, 0, 0, .75);
	}
