@charset "UTF-8";

body { text-align: center; }

figure {
	text-align: left;
	display: inline-block;
	max-width: 100%;
}
	figure figcaption {
		color: rgba(43, 50, 77, .75);
		background: rgba(173, 191, 199, .5);
	}
		figure figcaption a {
			font-weight: bold;
			text-decoration: none;
			color: #000;
		}
			figure figcaption a:visited,
			figure figcaption a:visited:hover,
			figure figcaption a:focus,
			figure figcaption a:focus:hover,
			figure figcaption a:hover,
			figure figcaption a:active {
				color: #000;
				text-decoration: underline;
			}

/* <h1 id="flag">M<span>icky Hulse</span></h1> */
#flag {
	font: 100px/1 "Hulse", Arial, sans-serif;
	color: #FD5B84;
	margin: 20px 0;
	position: relative;
	top: 0;
	left: -20px;
}
	#flag span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	#flag a,
	#flag a:visited { color: #fff; }
	#flag a:visited:hover,
	#flag a:focus,
	#flag a:focus:hover,
	#flag a:hover,
	#flag a:active { text-decoration: none; }
	#flag a:active,
	#flag a:focus { outline: none; }
