.rex_test1 {
  line-height: 1.5;
}

.rex_test2 {
  font-size: 1.5625rem;
  line-height: 1.2;
  padding: 0.36em 0;
}

.rex_test3 {
  line-height: 1.5;
}

body {
  padding: 0.625rem;
}

.rex_marker {
  font: bold 1.375rem/0.95454545454545 Arial, sans-serif;
  color: #fff;
  text-transform: none;
  background: rgba(0, 0, 0, 0.85);
  margin: 0.625rem 0;
  padding: 0.47727272727273em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  box-shadow: 0 0 0.3125rem 0 rgba(0, 0, 0, 0.55);
}

.rex_subtle {
  font: normal 1.1875rem/1.10526315789474 monospace, serif;
  color: #666;
  margin: 0.625rem 0;
}

fieldset > div {
  margin: 0.625rem 0;
}
